.form form {
    width: 100%;
  }
  
  .form input,
  .form select {
    height: 3rem;
    width: 100%;
    margin: 0;
    appearance: none;
    border: 1px solid #d8d9d9;
    border-radius: 2px;
    font-family: var(--body-font-family);
    color: #b2b4b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .78rem .625rem;
    font-size: .875rem;
  }


  .form textarea {
    height: 10rem;
    width: 100%;
    border: 1px solid #d8d9d9;
  }

  .form .subscribe {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
  }

  .form input[type="checkbox"] {
    appearance: auto;
    height: 13px;
    width: 13px;
  }

  .form fieldset {
    border: 0;
  }

  form label {
    font-family: OpenSans-Bold, Helvetica, sans-serif;
    font-size: .875rem;
    margin: .5rem 0;
    line-height: 1.5rem;
    color: #373738;
  }
  
  .form .form-select-wrapper {
    position: relative;
  }
  
  .form .form-select-wrapper::after {
    content: '';
    position: absolute;
    background-color: var(--highlight-color);
    mask: url('/icons/chevron.svg') center / 100% 100%;
    bottom: .5rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .form button {
    display: block;
    height: 60px;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1080px) {
    .col-span-1 { flex: 8.33%; }
    .col-span-2 { flex: 16.66%; }
    .col-span-3 { flex: 25%; }
    .col-span-4 { flex: 33.33%; }
    .col-span-5 { flex: 41.66%; }
    .col-span-6 { flex: 50%; }
    .col-span-7 { flex: 58.33%; }
    .col-span-8 { flex: 66.66%; }
    .col-span-9 { flex: 75%; }
    .col-span-10 { flex: 83.33%; }
    .col-span-11 { flex: 91.66%; }
    .col-span-12 { flex: 100%; }
  
    .customerInfoPanel > fieldset, .fullNamePanel > fieldset, .customerQueryPanel > fieldset {
      display: flex;
      gap: 2rem;
    }
  }
