.section .gallery-wrapper {
    margin: 56px auto;
    max-width: 1224px;
    width: 100%;
  }
  
  .gallery {   
    > div {
      display: flex;
      flex-direction: column;
      background: var(--theme-clr-background);
      height: auto;
  
      .gallery-image {
        flex: none;
        height: 322px;
    
        picture, picture img {
          width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
  
      .gallery-content {
        color: var(--theme-clr-text);

        h1 {
          color: var(--green);
          font-size: var(--heading-font-size-xl);
          font-family: var(--heading-font-family);
          letter-spacing: -.0313rem;
          margin: 0;
        }

        h2 {
          font-size: var(--heading-font-size-l);
          letter-spacing: -.0313rem;
          line-height: 1rem;
        }
    
        h3 {
          color: var(--theme-clr-text);
          font-family: var(--heading-font-family);
          font-size: var(--heading-font-size-m);
          letter-spacing: -.0313rem;
        }
    
        p, ul, li {
          font-family: var(--body-font-family);
          font-size:  var(--body-font-size-s);
          letter-spacing: .0156rem;
        }
  
        ul {
          padding-left: 20px;
          list-style-type: disc;
        }

        .text-link {
          font-size: var(--body-font-size-s);
          text-decoration: underline;
        }

        .button-container {
          margin-top: 1.5rem;
    
          > button {
            min-width: 11.25rem;
            padding: .875rem;
            border: none;
          }
        }
      }
    }
  }
  
  @media (width >= 1080px) {
    .gallery {
      max-width: 1224px;
      width: 100%;
  
      > div {
        flex-direction: row;
        gap: 50px;
  
        .gallery-image {
          width: 50%;
        }
  
        .gallery-content {
          display: flex;
          flex-direction: column;
          width: 50%;
  
          h3 {
            font-size: 32px;
            max-width: 381px;
          }
  
          p, ul, li {
            max-width: 381px;
          }
        }
      }
    }
  }
  
  @media (width < 786px) {
    .gallery {
      > div {
        height: auto;
        
        .gallery-image {
          flex: none;
        }
      }
    }
  }