/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */

.header-dropdown-container,
.header-dropdown-wrapper {
    height: inherit;
}

.header-dropdown {
    display: flex;
    width: 100%;
    height: 31rem;
    min-height: 300px;

    ul {
        list-style: none;
        margin: 0;

        li {
            font-size: .95rem;

            a {
                display: block;
                color: var(--text-color);
                text-decoration: none;
                line-height: 2.5rem;
                margin: 0.6rem 2px;

                &:hover {
                    color: var(--green);
                }
            }
        }

        @media (width >=1080px) {
            overflow-y: scroll;
            scrollbar-width: none;

            li a {
                line-height: 1.5rem;
            }
        }
    }

    picture {
        display: block;
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            display: block;
            object-fit: cover;
            height: 12.5rem;
            width: 17.1875rem;
        }
    }
}

.header-dropdown.static {
    padding: 0 40px;

    >div {
        display: flex;
        width: 100%;
        height: inherit;
        justify-content: space-between;

        >div {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 30px 20px 0;
        }
    }
}

.header-dropdown.submenu {
    ul.nav-list {
        flex-basis: 33.33%;
        list-style: none;
        margin: 0;
        padding-top: 30px;
        min-height: 100%;
        border-right: 1px solid var(--border-color);

        .columns-2 & {
            min-width: 320px;
        }

        li {
            position: relative;
            padding: 12px 0 12px 60px;
            font-weight: bold;
            cursor: pointer;

            &.active {
                background: var(--light-grey);
                color: var(--green);
            }

            /* arrow */
            &::after {
                content: '';
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--green);
            }
        }
    }

    .nav-items {
        flex-basis: 66.67%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .item {
            display: flex;
            width: 100%;

            .loaded & {
                display: none;
            }

            .loaded &.active {
                display: flex;
            }

            >div {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 20px 40px;

                &:first-child {
                    border-right: 1px solid var(--border-color);
                }

                .columns-2 & {
                    min-width: 490px;
                    max-width: 490px;
                    border-right: 0;
                }
            }
        }
    }
}

.row {
    /* bottom gray bar links */
    .default-content-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: var(--light-grey);
        color: var(--green);

        p {
            margin: 0;
        }
    }
}

/* overwrite buttons to make text links */
.dropdown .button-container {
    a {
        position: relative;
        text-align: left;
        text-transform: uppercase;
        color: var(--green);
        background: transparent;
        padding: 0;
        text-decoration: none;

        /* arrow */
        &::after {
            content: '';
            position: absolute;
            margin-left: 6px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--green);
        }
    }
}

.header-dropdown.mobile {
    display: block;
    width: 100%;
    height: auto;
    position: static;
    flex-direction: column;
    background: var(--white);
    color: #4d4e4c;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    border: none;
    margin: 0 0.9375rem;
    align-items: center;
    font-family: OpenSans-Bold, Helvetica, sans-serif;
}

.header-dropdown.mobile .dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: OpenSans-Bold, Helvetica, sans-serif;
    border-bottom: 1px solid #d8d9d9;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    padding: 0 .9375rem;
    margin: 0;
}

.dropdown-title:has(+ .dropdown-content.open) {
    border-bottom: none;
}

.header-dropdown.mobile .dropdown-content {
    display: none;
    color: var(--text-color);
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    margin: 0 1.875rem .9375rem;
}

.header-dropdown.mobile .dropdown-content.open {
    display: block;
}

.header-dropdown.mobile .dropdown-content li {
    color: var(--text-color);
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
}

.header-dropdown.mobile p.dropdown-content {
    color: var(--text-color);
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 1.5rem;
}

.header-dropdown.mobile .dropdown-content .button-container a {
    color: var(--text-color);
    font-family: OpenSans-Bold, Helvetica, sans-serif;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .25px;
    background: var(--white);
    text-align: left;
    text-transform: none;
}

.header-dropdown.mobile .dropdown-content .button-container a::after {
    content: none;
}

.header-dropdown.mobile .dropdown-content .button-container a:hover {
    color: var(--green);
}

.header-dropdown.mobile a:hover,
.header-dropdown .dropdown-title:hover {
    color: var(--green);
}

.icon-add {
    display: none;
}

.icon-add.open {
    display: block;
}

.icon-subtract {
    display: none;
}

.icon-subtract.open {
    display: block;
}

.icon-add::before {
    content: "\e901";
    color: var(--green);
    font-size: 1.125rem;
}

.icon-subtract::before {
    content: "\e93f";
    color: var(--green);
    font-size: 1.125rem;
}

li.active .header-dropdown.mobile {
    margin: 0;
}

.mobile-menu .row .default-content-wrapper {
    display: none;
}

.mobile-menu .ingredient-select {
    display: none;
}