/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */


.header-dropdown-container,
.header-dropdown-wrapper {
    height: inherit;
}

.header-dropdown {
    display: flex;
    width: 100%;
    height: inherit;
    min-height: 300px;
    /*overflow: hidden;*/


    /* used to determine height */
    [data-height] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }


    ul.nav-list {
        flex-basis: 33.33%;
        list-style: none;
        margin: 0;
        padding-top: 30px;
        min-height: 100%;
        border-right: 1px solid var(--border-color);

        li {
            position: relative;
            padding: 12px 0 12px 30px;
            font-weight: bold;
            cursor: pointer;

            &.active {
                background: var(--light-grey);
                color: var(--green);
            }

            /* arrow */
            &::after {
                content: '';
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--green);
            }
        }
    }

    .nav-items {
        flex-basis: 66.67%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .item {
            display: flex;
            width: 100%;
            .set & { display: none }
            .set &.active  { display: flex; }


            > div {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 20px 40px;
                &:first-child { border-right: 1px solid var(--border-color)}
            }

            ul {
                list-style: none;
                margin: 0;

                li {
                    line-height: 2.1rem;
                    font-size: .95rem;

                    a {
                        display: block;
                        color: var(--text-color);
                        text-decoration: none;
                        &:hover { color: var(--green) }
                    }
                }


            }

            picture {
                display: block;
                width: 100%;
                height: 200px;
                overflow: hidden;
                margin-bottom: 30px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.dropdown {
    /* bottom gray bar links */
    .default-content-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-top: -50px;
        background: var(--light-grey);
        color: var(--green);

        p { margin: 0 }
    }

    .button-container {
        a {
            position: relative;
            text-align: left;
            text-transform: uppercase;
            color: var(--green);

            /* arrow */
            &::after {
                content: '';
                position: absolute;
                margin-left: 6px;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--green);
            }
        }
    }
}

