.video {
  text-align: center;
  max-width: 900px;
  margin: 24px auto;
}

.video[data-embed-loaded='false']:not(.placeholder) {
  /* reserve an approximate space to avoid extensive layout shifts */
  aspect-ratio: 16 / 9;
}

.video > div {
  display: flex;
  justify-content: center;
}

.video video {
  max-width: 100%;
}

.video .video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder + * {
  visibility: hidden;
  height: 0;
  width: 0;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  cursor: pointer;
  border: 0;
  background: #fff;
  box-shadow: 0 10px 15px 0 rgba(0 0 0 / 10%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  color: var(--green);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid var(--green);
  top: calc(50% + 3px);
  left: calc(50% + 3px);
  transform: translate(-50%, -60%);
}

.video .video-placeholder-play button:hover::before {
  border-left-color: var(--dark-green);
}

.video .video-modal {
  position: absolute;

  .video-modal-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0 0 0 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-modal-content {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 66.875rem;
  }

  .video-modal-content iframe,
  .video-modal-content video {
    max-width: 1013px;
    height: 100%;
  }

  .video-modal-close {
    align-self: flex-end;
    order: -1;
    cursor: pointer;
    border: 0;
    background: 0 0;
    z-index: 2;
    top: 10rem;
    position: fixed;
  }

  .video-modal-close.icon-close-blk::before {  
    font-size: 1.75rem;
  }

  .icon-close-blk::before {
    content: "\e91c";
    color: #fff;
  }
}

body.modal-open {
  overflow: hidden; /* Disable scrolling when video modal is open */
}