/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */

header {
    --border-color: #d8d9d9;

    position: relative;
    width: 100vw;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0 0 0 / 10%);

    /* push header down when sidekick is loaded */
    helix-sidekick ~ & { top: 49px }

    .cart {
        position: absolute;
        top: 6px;
        right: 40px;

        .icon-cart {
            color: var(--green);
            font-size: 1.3125rem;
        }

        .count {
            text-align: center;
            font-family: OpenSans-Bold, Helvetica, sans-serif;
            color: #fff;
            font-size: .625rem;
            line-height: .875rem;
            background: var(--green);
            border-radius: 50%;
            width: .875rem;
            height: .875rem;
            padding: 0 1px;
            position: absolute;
            right: -3px;
            top: 0;
            z-index: 1;
            &.hide { display: none }
        }
    }

    nav.utility {
        position: relative;
        height: 32px;
        background: #efefef;
        display: flex;
        padding: 0 2.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: .66rem;

        /* globe - region - lang */
        > p {
            margin: 0 0 0 30px;
            transition: all 100ms;
            &:hover { color: var(--green) }

            /* globe icon */
            &::before {
                position: absolute;
                top: 0;
                margin: 0 0 0 -30px;
                content: '\e924';
                color: var(--green);
                font-family: ingredion-icon;
                font-size: 1.3125rem;
                -webkit-font-smoothing: antialiased;
            }

            /* sub menu */
            .dropdown {
                position: absolute;
                z-index: 1;
                background: #fff;
                height: 412px;
                width: 100vw;
                top: 32px;
                left: 0;
                right: 0;
                display: none;
                color: var(--text-color);
                .active & { display: block }
            }
        }

        /* util links */
        > ul {
            list-style-type: none;
            display: flex;
            margin: 0 12px 0 0;

            li {
                margin-right: 48px;

                /* switch region button */
                &:last-child { display: none }

                a {
                    color: var(--text-color);
                    transition: all 100ms;
                    &:hover { color: var(--green) }
                }
            }
        }
    }

    nav.logo-search {
        display: flex;
        height: 120px;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;

        .logo {
            margin: 6px 0 0 12px;
            img { width: 90px }
        }

        form.search {
            position: relative;
            display: flex;
            flex: 2;
            align-items: center;
            max-width: 50.1875rem;
            border: 1px solid var(--border-color);
            border-radius: 2px;

            &:focus, &:focus-within {
                border: 1px solid var(--green);
                outline: 0;
                box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, .1);
            }

            .category-dropdown {
                position: relative;
                border-radius: 2px;
                border-right: 1px solid var(--border-color);
                height: 2.375rem;
                width: 7.5rem;
                display: flex;
                align-items: center;
                padding: 0 .625rem;
                font-size: .875rem;
                color: #b2b4b3;

                /* arrow */
                &::after {
                    content: '';
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 8px solid var(--green);
                }
            }

            input {
                border: 0;
                height: 2.375rem;
                width: 100%;
                outline: none;
                padding: .78rem .625rem;
                font-size: .875rem;
                color: #373738;
            }

            button[type="submit"] {
                position: absolute;
                right: .6rem;
                display: block;
                width: 20px;
                height: inherit;
                font-size: 1.5rem;
                cursor: pointer;

                &::before {
                    content: "\e93c";
                    color: var(--green);
                    font-family: ingredion-icon !important;
                    speak: never;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                }
            }

            button {
                border: 0;
                background: transparent;
                color: #4d4e4c;
                font-size: 1rem;
                font-family: OpenSans-Bold, Helvetica, sans-serif;
                font-weight: bold;
                line-height: 1.5rem;
                cursor: pointer;
            }
        }

        /* button */
        p {
            margin: 0;

            a {
                background: var(--green);
                font-size: .95rem;
                font-weight: bold;
                padding: .7rem 1.95rem;
                font-family: MiloPro-Bold, Helvetica, sans-serif;
                letter-spacing: .042rem;
                transition: all 200ms;

                &:hover {
                    background: var(--purple);
                    color: #fff;
                }
            }
        }
    }

    nav.category {
        height: 56px;
        border-top: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;

        > ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            font-family: OpenSans-Bold, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1rem;
            margin: 0;
            height: inherit;

            &:nth-child(2), &:nth-child(3) {
                font-weight: normal;

                > li {
                    padding-right: 0;
                    margin-right: 0;
                }
            }

            > li {
                padding-right: 20px;
                margin-right: 36px;
                color: #4d4e4c;
                letter-spacing: .03em;
                height: inherit;

                > a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-right: 30px;
                    height: inherit;
                    cursor: default;
                    transition: all 100ms;
                    &:hover, &.active { color: var(--green) }

                    /* em used as sup */
                    > em {
                        font-size: .6em;
                        vertical-align: super;
                        line-height: 1;
                        font-style: normal;
                        margin-top: -6px;
                    }

                    /* arrow */
                    &::after {
                        content: '';
                        position: absolute;
                        right: 10px;
                        top: 46%;
                        transform: translateY(-50%);
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 8px solid var(--green);
                    }
                    .active &::after { transform: translateY(-50%) rotate(180deg) }
                }

                /* sub menu */
                > .dropdown {
                    position: absolute;
                    z-index: 1;
                    background: #fff;
                    display: none;
                    color: var(--text-color);
                    width: 85rem;
                    height: 31rem;
                    overflow: hidden;
                    box-shadow: inset 0 0 20px 0 rgba(0 0 0 / 10%);
                    padding: 2.5rem 4.25rem 0;
                    .active & { display: block }
                }


            }
        }
    }
}
