/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */
@import url("../../styles/select-dropdown.css");

.locations-wrapper {
  max-width: unset !important;
  width: 100%;
}

.locations {
  /* marker colors */
  --headquarters: var(--green);
  --manufacturing: var(--purple);
  --innovation-center: var(--blue);
  --sales: var(--orange);

  overflow-y: hidden;
}

.locations .map-filter-container {
  position: relative;
  padding: 0 !important;
  display: flex;
  height: calc(100vh - var(--nav-height));
  max-width: 100vw;
}

.locations .location-card {
  padding: 0 0 0 24px;
}

.locations .location-card h3 {
  position: relative;
  font-size: 1rem;
}

.locations .location-card h3::before {
  position: absolute;
  content: '';
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("/blocks/locations/icons/marker.svg");
}

.locations .location-card h3.headquarters::before {
  background: var(--headquarters);
}

.locations .location-card h3.manufacturing::before {
  background: var(--manufacturing);
}

.locations .location-card h3.innovation-center::before {
  background: var(--innovation-center);
}

.locations .location-card h3.sales::before {
  background: var(--sales);
}

.locations .location-card p,
.locations .location-card a {
  margin: 0;
  font-size: .875rem;
}

.locations .map {
  flex: 1;
  position: relative;
}

.locations .map #google-map {
  height: 100%;
}

.locations .map #google-map .gm-style iframe + div {
  border: none !important;
}

.locations .map #google-map .pin {
  position: relative;
  font-size: 16px;
  padding: 6px 12px;
}

.locations .map #google-map .pin .icon {
  width: 28px;
  height: 32px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("/blocks/locations/icons/marker.svg");
}

.locations .map #google-map .pin.headquarters .icon {
  background: var(--headquarters);
}

.locations .map #google-map .pin.manufacturing .icon {
  background: var(--manufacturing);
}

.locations .map #google-map .pin.innovation-center .icon {
  background: var(--innovation-center);
}

.locations .map #google-map .pin.sales .icon {
  background: var(--sales);
}

.locations .map #google-map .pin .details {
  display: none;
}

.locations .map #google-map .pin.active {
  z-index: 99;
  top: -20px;
  box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 40%);
  padding: 4px 20px 20px;
  border-radius: 10px;
  background: #fff;
}

.locations .map #google-map .pin.active .icon {
  display: none;
}

.locations .map #google-map .pin.active .details {
  display: block;
  width: 230px;
}

.locations .map #google-map .pin.active ::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}

.locations .locator-search {
  width: 30.375rem;
  position: absolute;
  top: 3.75rem;
  bottom: 3.75rem;
  left: 100px;
  background: #fff;
  z-index: 1;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 2%);
}

@media (width >= 1400px) {
  .locations .locator-search {
    left: 10vw;
  }
}

.locations .locator-search h2 {
  margin: 0;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  line-height: 2rem;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1rem 2.5rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.locations .locator-search .filters {
  padding: 1rem 2.5rem;
}

.locations .locator-search.hide-filters .filters {
  display: none;
}

.locations .locator-search .filters h3 {
  font-weight: 700;
  font-family: OpenSans-Bold, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 1.5rem 0 .5rem;
}

.locations .locator-search .filters .search-clear {
  padding: 80px 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.locations .locator-search .filters .search-clear .search {
  width: 100%;
}

.locations .locator-search .filters .search-clear.reset .search {
  width: auto;
}

.locations .locator-search .filters .search-clear .search[disabled] {
  opacity: 0.5;
  cursor: default;
}

.locations .locator-search .filters .search-clear .search[disabled]:hover {
  background: var(--green);
  color: var(--text-color);
}

.locations .locator-search .filters .search-clear .clear {
  font-size: 16px;
  font-weight: 700;
  color: var(--red);
  display: none;
  cursor: pointer;
}

.locations .locator-search .filters .search-clear .clear:hover {
  text-decoration: underline;
}

.locations .locator-search .filters .search-clear.reset .clear {
  display: block;
}

.locations .locator-search .filters .select-dropdown {
  width: 100%;
}

.locations .locator-search .filters .select-dropdown .selected {
  width: inherit;
  padding: 12px 0 12px 12px;
}

.locations .locator-search .filters .select-dropdown ul {
  width: inherit;
  max-height: 300px;
  overflow: auto;
}

.locations .locator-search .filters .select-dropdown ul li {
  position: relative;
  width: inherit;
  padding: 6px 0 6px 34px;
}

.locations .locator-search .filters .select-dropdown ul li::before {
  position: absolute;
  top: 3px;
  left: 8px;
  content: '\e937';
  font-family: ingredion-icon;
  font-size: 1.3125rem;
  -webkit-font-smoothing: antialiased;
}

.locations .locator-search .filters .select-dropdown.type li::before {
  content: '';
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("/blocks/locations/icons/marker.svg");
}

.locations .locator-search .filters .select-dropdown.type li.headquarters::before {
  background: var(--headquarters);
}

.locations .locator-search .filters .select-dropdown.type li.manufacturing::before {
  background: var(--manufacturing);
}

.locations .locator-search .filters .select-dropdown.type li.innovation-center::before {
  background: var(--innovation-center);
}

.locations .locator-search .filters .select-dropdown.type li.sales::before {
  background: var(--sales);
}

.locations .locator-search .filtered-results .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #373738;
}

.locations .locator-search .filtered-results .header .country {
  position: relative;
  padding: 0 0 0 22px;

  /* country icon */;
}

.locations .locator-search .filtered-results .header .country::before {
  position: absolute;
  top: -4px;
  left: -2px;
  content: '\e937';
  font-family: ingredion-icon;
  font-weight: 200;
  font-size: 1.3125rem;
  -webkit-font-smoothing: antialiased;
}

.locations .locator-search .filtered-results .header .edit {
  font-size: 16px;
  font-weight: 400;
  color: var(--green);
  cursor: pointer;
}

.locations .locator-search .filtered-results .header .edit:hover {
  color: var(--dark-green);
}

.locations .locator-search .filtered-results .type {
  line-height: 3rem;
  background-color: #efefef;
  padding: 0 2.5rem;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #373738;
  border-bottom: 1px solid #d8d9d9;
}

.locations .locator-search .filtered-results .results .location-card {
  cursor: pointer;
  padding: 1rem 4rem;
  border-bottom: 1px solid #d8d9d9;
  transition: all 0.3s ease;
}

.locations .locator-search .filtered-results .results .location-card.active {
  background: #f0f0f0;
}

.locations .locator-search .filtered-results .results .location-card:hover {
  background: #f8f8f8;
}

.locations .locator-search .filtered-results .results .location-card h3::before {
  position: absolute;
  content: '';
  left: -26px;
  top: 10px;
  width: 20px;
  height: 24px;
}

@media (width <= 1080px) {
  .locations .map-filter-container {
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
  }

  .locations .locator-search {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
  }

  .locations .map {
    display: none;
  }
}
