.article-header-wrapper p {
  font-size: 1.375rem;
  color: #373738;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 22px;
}

.article-header-wrapper .type p {
  margin-top: 56px;
  color: var(--mustard);
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  line-height: 1.2;
}

.article-header-wrapper h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -.031rem;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  margin: 3.5rem 0 1rem;
  color: #373738;
}

.article-header-wrapper .date-tags p {
  font-size: .75rem;
  line-height: 1.2;
  font-family: OpenSans-Bold, Helvetica, sans-serif;
  letter-spacing: .015rem;
  color: var(--text-color);
}

.article-header-wrapper .date-tags p a {
  text-decoration: none;
  color: var(--text-color);
}

.article-header-wrapper .date-tags p a:hover {
  color: var(--green);
}

.article-header-wrapper .description p {
  margin: 1rem 0;
}

.article-header-wrapper .author {
  margin: 0;
}

.article-header-wrapper .author p {
  margin: 0;
  font-size: 1.06rem;
}
