@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border-radius: 0;
  padding: 0.5em;
  color: initial;
  line-height: unset;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  width: 25%;
  text-align: center;
  height: 4rem;
  border: 1px solid #cbcbcb;
  background-color: rgb(239 239 239 / 50%);
}

.tabs .tabs-list button p {
  margin: 0;
  color: #4d4e4c;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: 0;
  background: 0 0;
  cursor: pointer;
}

.tabs .tabs-list button[aria-selected='true'] {
  cursor: initial;
  color: #6cb33e;
  border: none;
  border-top: 4px solid #6cb33e;
  background-color: inherit;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
