.column-left, .column-right {
  float: left;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;

  > .default-content-wrapper {
    width: 90%;
    text-align: left;

    h1, h2, h3 {
      margin: 0;
    }
  }

  > .table-wrapper {
    width: 90%;
  }
}

.gallery-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0 0 0 / 50%);
  width: 70%;
  height: 90%;
  padding: 50px 20px 20px;

  .image-modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: auto;

    img {
      max-width: 90%;
      max-height: 90%;
      transform-origin: 50% 0;
    } 
  }

  .zoom-buttons-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;

    > button {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 20px;
      color: #fff;
      background-color: rgba(0 0 0 / 50%);
      border: none;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

.heading-section {

  .heading-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background: var(--theme-clr-background);
    justify-content: space-between;
    max-width: 1224px;
    width: 100%;
    height: 482px;

    .heading-images {
      display: flex;
      flex-direction: row;
      width: 50%;
      align-items: flex-start;
      height: 482px;

      .preview {
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 100%;
        cursor: zoom-in;

        img {
          width: 90%;
          object-fit: contain;
        }
      }

      .thumbnails {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 90px;
          height: 80px;
          object-fit: cover;
        }
      }
    }

    .heading-text {
      color: var(--theme-clr-text);
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 381px;
    
      h1 {
        color: var(--green);
        font-size: var(--heading-font-size-xl);
        font-family: var(--heading-font-family);
        letter-spacing: -.0313rem;
      }
    
      h2 {
        font-size: var(--heading-font-size-l);
        letter-spacing: -.0313rem;
        line-height: 1rem;
      }
    
      h3 {
        color: var(--theme-clr-text);
        font-family: var(--heading-font-family);
        font-size: var(--heading-font-size-m);
        letter-spacing: -.0313rem;
      }
    
      p, ul, li {
        font-family: var(--body-font-family);
        font-size:  var(--body-font-size-s);
        letter-spacing: .0156rem;
      }
    
      ul {
        padding-left: 20px;
        list-style-type: disc;
      }
    
      .text-link {
        font-size: var(--body-font-size-s);
        text-decoration: underline;
      }
    
      .button-container {
        margin-top: 1.5rem;
    
        > button {
          min-width: 11.25rem;
          padding: .875rem;
          border: none;
        }
      }
    }
  }
}


.default-content-wrapper {
  text-align: center;
}

.section-related-ingredient-wrapper {

  background-color: transparent !important;
  > .full-page {
    width: 100vw;
    padding: 0;
  
    .default-content-wrapper {
      text-align: center;
    }
  }
}

@media (width < 1080px) {
  .heading-section {
    .heading-text {
      margin: 0 15px 80px;
    }

    .heading-wrapper {
      display: flex;
      flex-direction: column;
      height: auto;

      .heading-images {
        width: 100%;
        padding: 0 1rem;
        justify-content: space-between;

        .thumbnails {
          img {
            width: 104px;
          }
        }
      }
    }
  }
}

@media (width < 786px) {
  .heading-section {
    height: auto;

    .heading-images {
      .thumbnails {
        width: auto;
      }
    }
  }
}