.callout {
  > div {
    display: flex;
    flex-direction: column;
    background: var(--theme-clr-background);
    height: 42.625rem;

    .callout-image {
      flex: 1;
      width: 100%;
      height: 50%;
  
      picture, picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .callout-content {
      height: 50%;
      color: var(--theme-clr-text);
      padding: 5rem .9375rem;
  
      h3 {
        font-family: MiloPro-Bold, Helvetica, sans-serif;
        font-size: var(--heading-font-size-m);
        letter-spacing: -.03125rem;
        margin: auto;
      }
  
      p {
        font-family: OpenSans, Helvetica, sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: .015625rem;
        margin: auto;
      }
  
      .button-container {
        margin: auto;
        > a {
          margin-top: 1.5rem;
          min-width: 15.625rem;
          padding: .875rem;
          border: 2px solid var(--theme-clr-text);
        }
        > a:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.callout-wrapper {
  padding: 0 !important;
  margin-bottom: 3.125rem !important;
}

@media (min-width: 1080px) {

  .callout {
    > div {
      flex-direction: row;
      gap: 0;
      height: 35rem;

      .callout-image {
        width: 50%;
        height: 100%;
      }

      .callout-content {
        width: 50%;
        height: 100%;
        align-self: center;
        h3 {
          font-size: var(--heading-font-size-xl);
          max-width: 26.3125rem;
          padding: 0 2.5rem;
          margin-bottom: 16px;
        }
        p {
          max-width: 26.3125rem;
          padding: 0 2.5rem;
        }
        .button-container {
          padding: 0 2.5rem;
        }
      }
    }
  }
}