.ingredient-select {
  background: var(--light-grey);
  height: 5rem;
}

.ingredient-select .ingredient-quick-search h4,
.ingredient-select .ingredient-quick-search .button-container {
  display: none;
}

.ingredient-select > div > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .9375rem;
  font-family: OpenSans-Bold, Helvetica, sans-serif;
  color: #373738;
}

.ingredient-select .ingredient-quick-search .ingredient-quick-search-bar {
  height: 2.5rem;
  align-self: center;
  flex: 2;
  max-width: 23.8125rem;
}

.ingredient-select .ingredient-quick-search-bar .form-typeahead  {
  margin-bottom: 0;
  width: 100%;
  letter-spacing: .015625rem;
  font-family: OpenSans-Bold, Helvetica, sans-serif;
  line-height: 3.5rem;
  color: #4d4e4c;
}


.ingredient-select .ingredient-quick-search-bar .form-typeahead input#search {
  height: 2.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d8d9d9;
  border-radius: 2px;
  background-color: #fff;
  padding: .78125rem .625rem;
  font-size: .875rem;
  color: #373738;
}

.ingredient-select .ingredient-quick-search-bar .form-typeahead button.icon-search {
  font-size: 2rem;
    position: absolute;
    right: .625rem;
    top: .5rem;
    font-size: 1.5rem;
    top: .75rem;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

.ingredient-select .ingredient-quick-search {
  border: none;
}

.ingredient-select .button-container .button {
  display: inline-block;
  cursor: pointer;
  min-width: 11.25rem;
  font-size: 1rem;
  border-radius: .125rem;
  background: #6cb33e;
  text-align: center;
  line-height: 1.5rem;
  padding: 1rem;
  color: #373738;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  letter-spacing: .03125rem;
  padding: .5rem 1.75rem;
  text-transform: none;
}


.ingredient-select .button-container .button.secondary {
  display: inline-block;
  padding: .375rem 1.75rem;
  min-width: 11.25rem;
  background: 0 0;
  color: #6cb33e;
  border-color: #6cb33e;
  border-radius: .125rem;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: .03125rem;
}

.ingredient-select .button-container a::after {
  content: none;
}

.ingredient-select .button-container .download-all {
  display: inline-block;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: .03125rem;
  color: #6cb33e;
  position: relative;
  background: none;
  padding: 0;
}

.download-all::before {
  font-family: ingredion-icon;
  text-decoration: none !important;
  position: absolute;
  left: 0;
  content: '\e94b';
  font-size: .9375rem;
}

@media (min-width: 67.5625rem) {
  .ingredient-select .button-container .download-all {
    margin: 0;
    width: auto;
    align-self: center;
    margin-top: 0;
  }
}

@media (min-width: 67.5625rem) {
  .ingredient-select .button-container {
    min-width: 11.25rem;
    margin: 0;
    margin-left: 1.5rem;
    width: auto;
    align-self: center;
    margin-top: 0;
  }
}

@media (min-width: 67.5625rem) {
  .ingredient-select .ingredient-quick-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 67.5625rem) {
  .ingredient-select > div > div:first-child {
    margin-right: 1rem;
    white-space: nowrap;
    padding: 0;
    color: #373738;
  }
}

@media (min-width: 67.5625rem) {
  .ingredient-select>div>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 67.5625rem) {
  .ingredient-select > div {
    /*width: calc(100% + 136px);*/
    max-width: none;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #efefef;
    /*margin: 0 -4.25rem;*/
    padding: 0 4.25rem;
  }
}