.section .contact-us-wrapper {
  background: var(--background-color-grey);
  max-width: 76.4375rem;
  margin: auto;
}

.contact-us-wrapper .contact-us {
  padding: 5rem 0.9375rem;
  max-width: 63.875rem;
  margin: auto;
}

.contact-us-wrapper .contact-us .heading h3 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.contact-us-wrapper .contact-us .contact-banner-content .contact-banner-primary {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #d8d9d9;
}

.contact-us-wrapper .contact-us .contact-banner-content .contact-banner-primary p {
  font-size: 1.375rem;
  line-height: 2rem;
  margin: 0;
  word-wrap: break-word;
}

.contact-us-wrapper .contact-us .contact-banner-content .contact-banner-secondary {
  padding-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

.contact-us-wrapper .contact-us .contact-banner-content .contact-banner-secondary > div {
  width: 46%;
  margin: 0 .75rem 2.5rem 0;
}

.contact-us-wrapper .contact-us .contact-banner-content .contact-banner-secondary > div h5 {
  font-size: 1rem;
  margin: 0 0 1rem;
  letter-spacing: 0.25px;
}


@media (width > 1080px) {
  .contact-us-wrapper .contact-us {
    padding: 5rem 0 !important;
  }
  
  .contact-us-wrapper .contact-us .contact-banner-content {
    display: flex;
  }
  
  .contact-us-wrapper .contact-us .contact-banner-content .contact-banner-primary {
    padding: 0 2rem 0 0;
    border-bottom: 0 !important;
    border-right: 1px solid #d8d9d9;
    width: 100%;
    max-width: 19.75rem;
  }
  
  .contact-us-wrapper .contact-us .contact-banner-content .contact-banner-secondary {
    padding: 0 0 0 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .contact-us-wrapper .contact-us .contact-banner-content .contact-banner-secondary > div {
    width: 45%;
  }
}