.section > .carousel-wrapper {
  max-width: 90rem;
  padding: 0;
  margin: auto;
}

.carousel .carousel-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 100px 0 100px 99px;
}

.carousel .carousel-container .carousel-overview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
  width: 30%;
  height: 100%;
  text-align: left;
}

.carousel .carousel-container .carousel-overview div > div {
  margin: 10px;
}

.carousel .carousel-container .carousel-overview div > div h3 {
  font-size: 2.5rem;
  letter-spacing: 0.0313rem;
}

.carousel .carousel-container .carousel-overview div > div p {
  font-size: var(--body-font-size-s);
  line-height: 1.5rem;
  letter-spacing: 0.0156rem;
}

.carousel .carousel-container .carousel-slides-container {
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides {
  display: flex;
  overflow-x: auto;

  /* fix jumpy scrolling  */
  margin: auto;
  padding-left: .5rem;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide {
  padding: 1.25rem 1.5rem;
  min-width: 44%;
  flex: 0 0 44%;
  min-height: 464px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 20px 40px 0 rgb(0 0 0 / 10%);
  user-select: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide:last-child {
  margin-right: 800px;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-body h3 {
  letter-spacing: 0.0313rem;
  font-size: 32px;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-body p {
  font-size: var(--body-font-size-s);
  line-height: 1.5rem;
  letter-spacing: 0.0156rem;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-body .text-link {
  display: unset;
  margin-top: 8px;
  text-decoration: underline;
  color: var(--green);
  font-size: var(--body-font-size-s);
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-body .text-link:hover {
  color: var(--dark-green);
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-image {
  height: 9.75rem;
  margin: 1.25rem 0 2.5rem;
  box-sizing: border-box;
}

.carousel .carousel-container .carousel-slides-container .carousel-slides .carousel-slide .slide-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel .carousel-container .carousel-slides-container nav {
  position: relative;
  top: 16px;
}

.carousel .carousel-container .carousel-slides-container nav .carousel-slide-indicators {
  display: flex;
  line-height: 0;
  list-style: none;
}

.carousel .carousel-container .carousel-slides-container nav .carousel-slide-indicators li {
  margin: 0;
}

.carousel .carousel-container .carousel-slides-container nav .carousel-slide-indicators li button {
  width: 9px;
  height: 9px;
  border: 0;
  margin: 5px;
  border-radius: 50%;
  background-color: var(--green);
  opacity: 0.25;
  transition: background-color 0.2s, opacity 0.2s;
  cursor: pointer;
}

.carousel .carousel-container .carousel-slides-container nav .carousel-slide-indicators li button:disabled {
  opacity: 1;
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev,
.carousel .carousel-container .carousel-slides-container nav button.slide-next {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 2.5rem;
  top: -10px;
  z-index: 10;
  box-shadow: 4px 10px 15px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev.slide-prev,
.carousel .carousel-container .carousel-slides-container nav button.slide-next.slide-prev {
  left: unset;
  right: 4.5rem;
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev.slide-next,
.carousel .carousel-container .carousel-slides-container nav button.slide-next.slide-next {
  right: 1rem;
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev.slide-next::after,
.carousel .carousel-container .carousel-slides-container nav button.slide-next.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev::after,
.carousel .carousel-container .carousel-slides-container nav button.slide-next::after {
  display: block;
  content: '';
  border: 1.5px solid;
  border-color: var(--green);
  border-bottom: 0;
  border-left: 0;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-container .carousel-slides-container nav button.slide-prev.slide-prev:disabled::after, .carousel .carousel-container .carousel-slides-container nav button.slide-prev.slide-next:disabled::after, .carousel .carousel-container .carousel-slides-container nav button.slide-prev:hover::after,
.carousel .carousel-container .carousel-slides-container nav button.slide-next.slide-prev:disabled::after,
.carousel .carousel-container .carousel-slides-container nav button.slide-next.slide-next:disabled::after,
.carousel .carousel-container .carousel-slides-container nav button.slide-next:hover::after {
  opacity: .75;
  border-color: var(--dark-grey);
}

@media (width <= 1079px) {
  .carousel .carousel-container {
    flex-direction: column;
    margin: auto;
  }

  .carousel .carousel-container .carousel-overview {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    justify-content: center;
  }

  .carousel .carousel-container .carousel-overview > div > div > h3 {
    font-size: 2rem;
  }

  .carousel .carousel-container .carousel-overview > div > div > p {
    font-size: 1rem;
  }

  .carousel .carousel-container .carousel-slides-container {
    width: 100%;
    height: auto;
  }

  .carousel .carousel-container .carousel-slides-container > .carousel-slides > .carousel-slide {
    min-height: auto;
    display: flex;
    width: 630px;
    min-width: 60%;
  }

  .carousel .carousel-container .carousel-slides-container > .carousel-slides > .carousel-slide > .slide-body > h3 {
    font-size: 1.5rem;
  }

  .carousel .carousel-container .carousel-slides-container > .carousel-slides > .carousel-slide > .slide-body > p {
    font-size: 1rem;
  }

  .carousel .carousel-container .carousel-slides-container > .carousel-navigation-buttons {
    display: none;
  }
}
