.section > .carousel-wrapper {
  max-width: 90rem;
  padding: 0;
}

.carousel {
  min-height: 604px;

  .carousel-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 604px;
    align-items: center;
    margin: 100px 0 100px 99px;

    .carousel-overview {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      z-index: 1;
      width: 30%;
      height: 100%;

      > div > div {
        margin: 10px;

        > h3 {
          font-size: 2.5rem;
          letter-spacing: -.03125rem;
        }
      }
    }

    .carousel-slides-container {
      width: 70%;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-left: auto;

      > .carousel-slides {
        display: flex;
        overflow-x: hidden;
        scroll-behavior: auto;
        margin: auto;
        padding-left: .5rem;

        > .carousel-slide {
          padding: 1.25rem 1.5rem;
          min-width: 399px; 
          min-height: 464px;
          scroll-snap-align: start;
          display: flex;
          flex-direction: column;
          box-shadow: 4px 20px 40px 0 rgba(0 0 0 / 10%);
          user-select: none;
          margin-top: 50px;
          margin-bottom: 50px; 
        }
      }

      .carousel-slide-indicators {
        display: flex;
        background-color: var(--light-color);
        line-height: 0;
        list-style: none;
        position: relative;
        top: 16px;
    
        > li {
          margin: 0;
    
          > button {
            width: 9px;
            height: 9px;
            border: 0;
            margin: 5px;
            border-radius: 50%;
            background-color: var(--green);
            opacity: 0.25;
            transition: background-color 0.2s;
            cursor: pointer;
          }
        }
      }
    }
  }

  .carousel-navigation-buttons button {
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 2.5rem;
    top: 30px;
    z-index: 10;
    box-shadow: 4px 10px 15px 0 rgba(0 0 0 / 10%);
    left: unset;
    right: 200px;
  }
}

  .slide-body h3 {
    letter-spacing: -0.0313rem;
    font-size: 32px;
  }
  
  .slide-body p,
  .carousel-overview p {
    font-size: var(--body-font-size-s);
    line-height: 1.5rem;
    letter-spacing: 0.0156rem;
  }
  
  .slide-body a {
    display: unset;
    margin-top: 8px;
    text-decoration: underline;
    color: var(--dark-green);
  }
  
  .carousel-slide .slide-image {
    height: 9.75rem;
    margin: 1.25rem 0 2.5rem;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  
  .carousel .carousel-slides::-webkit-scrollbar {
    display: none;
  }

  .carousel .carousel-slide-indicator button:hover {
    opacity: 0.75;
  }

  .carousel .carousel-slide-indicator button:disabled {
    opacity: 1;
  }
  
  .carousel .carousel-slide-indicator button:disabled,
  .carousel .carousel-slide-indicator button:hover,
  .carousel .carousel-slide-indicator button:focus-visible {
    background-color: var(--green);
  }
  
  .carousel .carousel-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  .carousel .carousel-navigation-buttons button:hover,
  .carousel .carousel-navigation-buttons button:focus-visible {
    outline: 0;
    background: 0 0;
    color: transparent;
  }
  
  .carousel .carousel-navigation-buttons button::after {
    display: block;
    content: '';
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .carousel .carousel-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 2px);
  }