.article-detail {
  main {
    position: relative;
    min-height: 1px;
    overflow: auto;

    .hero {
      position: relative;
      top: 0;
      height: 330px;
      width: 100%;
      margin: 0;
      z-index: -1;

      @media (width > 1080px) {
        position: absolute;
        height: 540px;
      }

      picture {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    
    .section-container {
      background: #fff;
      max-width: var(--max-page-width);
      margin: 0 auto;
      border-radius: 4px;
      box-shadow: 4px 20px 40px 4px rgba(0 0 0 / 10%);
      padding: 0 20px;

      @media (width > 1080px) {
        margin-top: 200px;
        width: calc(100% - 80px);
        padding: 2.2rem 6.5625rem 12.5rem;
      }

      .section {
        margin: 0;

  
        p.centered { text-align: center }

        .social-share {
          display: flex;
          margin-top: 2.5rem;
          margin-bottom: 3.5rem;
        }
  
        .line-break {
            box-sizing: border-box;
            height: 3px;
            width: 104px;
            margin-bottom: 70px;
            background: var(--green);
        }
      }
    }
  }
}
