.article-detail main {
  position: relative;
}

.article-detail main .hero {
  position: relative;
  top: 0;
  height: 330px;
  width: 100%;
  margin: 0;
  z-index: -1;
}

@media (width >= 1081px) {
  .article-detail main {
    padding-top: 12.5rem;
  }
  .article-detail main .hero {
    position: absolute;
    height: 540px;
  }
}

.article-detail main .hero picture {
  object-fit: cover;
}

.article-detail main .hero picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-detail main .section-container {
  background: #fff;
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 0 .9375rem 5rem;
}

.article-detail main .section-container .breadcrumbs {
  padding: 1rem 0;
}

@media (width >= 1081px) {
  .article-detail main .section-container {
    width: calc(100% - 80px);
    padding: 2.2rem 6.5625rem 12.5rem;
    border-radius: 4px;
    box-shadow: 4px 20px 40px 4px rgb(0 0 0 / 10%);
  }

  .article-detail main .section-container .breadcrumbs {
    padding: 0;
  }
}

.article-detail main .section-container .section {
  margin: 0;
}

.article-detail main .section.center {
  margin: auto;
}

.article-detail main .section-container .section p.centered {
  text-align: center;
}

.article-detail main .section-container .section .social-share {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.article-detail main .section-container .line-break,
.article-detail main .section-container .line-break-end {
  box-sizing: border-box;
  height: 3px;
  width: 104px;
  margin-bottom: 70px;
  background: var(--green);
}

.article-detail main .section-container .section.line-break-end {
  margin: 5rem 0 0;
}

.article-detail .footer-wrapper {
  border-top-width: 2px;
}