footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  border-top: 1px solid var(--border-color);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 0 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 1080px) {
  footer .footer > div {
    padding: 0 32px 24px;
  }

  footer ul:first-of-type {
    display: flex;
    justify-content: left;
    padding: 5rem 0;
    gap: 5rem;
  }

  footer ul:first-of-type li {
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
  }

  footer ul ul:first-of-type {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  footer ul li:nth-child(2) ul:first-of-type {
    flex-direction: row;
  }

  footer ul ul:first-of-type li {
    list-style: none;
    font-weight: normal;
  }

  footer ul li:nth-child(2) ul li {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  footer ul ul:first-of-type li a {
    text-decoration: none;
    letter-spacing: .0156rem;
    line-height: 2rem;
  }
  
  footer ul li:nth-child(2) ul li a {
    background: var(--footer-social-icons-background-color);
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  footer ul ul:first-of-type li a:hover {
    color: var(--green);
  }
  
  footer ul li:nth-child(2) ul li a:hover {
    box-shadow: 0 5px 10px 0 rgba(0 0 0 / 20%);
  }
  
  footer ul li:nth-child(2) ul li a span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
}
