/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */

footer {
  font-size: var(--body-font-size-xs);
  border-top: 1px solid var(--border-color);
}

footer ul, footer li {
  margin: 0;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 0 24px 24px;
}

@media (width >= 1080px) {
  footer .footer > div {
    padding: 0 32px 24px;
  }
}

footer .footer-utility {
  border-top: 1px solid var(--border-color);
}

footer .footer-utility ul:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-utility ul:first-of-type li {
  list-style: none;
  line-height: 1.75rem;
  margin: 0 .9375rem 0 0;
  display: inline-block;
  font-size: .625rem;
  font-family: var(--body-bold-font-family);
  letter-spacing: .0156rem;
  color: var(--text-color);
}

@media (width >= 768px) {
  footer .footer-utility ul:first-of-type li {
    font-size: .75rem !important;
  }
}

footer .footer-utility ul:first-of-type li a {
  color: var(--text-color);
  word-break: auto-phrase;
  text-decoration: none;
}

footer .footer-utility ul:first-of-type li a:hover {
  text-decoration: none;
}

footer .social-share > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .social-share .button-container {
  width: 2rem;
  margin: 1rem .5rem;
}

footer .social-share .button-container > a {
  min-width: 0;
  padding: 0;
  background: transparent;
}

@media (width >= 1080px) {
  footer .footer-utility ul:first-of-type {
    padding: 1.5rem 0 0;
    flex-direction: row;
  }

  footer .footer-utility ul:first-of-type li a:hover {
    color: var(--green);
  }

  footer .footer .desktop ul:first-of-type {
    display: flex;
    justify-content: left;
    padding: 5rem 0;
    gap: 5rem;
  }

  footer .footer .desktop ul:first-of-type li {
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
  }

  footer .footer .desktop ul ul:first-of-type {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  footer .footer .desktop ul li:nth-child(2) ul:first-of-type {
    flex-direction: row;
  }

  footer .footer .desktop ul ul:first-of-type li {
    list-style: none;
    font-weight: normal;
  }

  footer .footer .desktop ul li:nth-child(2) ul li {
    display: flex;
    gap: 20px;
    max-width: 13rem;
    flex-wrap: wrap;
  }

  footer .footer .desktop ul ul:first-of-type li a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: .0156rem;
    line-height: 2rem;
  }

  footer .footer .desktop ul li:nth-child(2) ul li a {
    border-radius: 50%;
  }

  footer .footer .desktop ul ul:first-of-type li a:hover {
    color: var(--green);
  }
}

.tab {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

/* Media Queries - Tablet */
@media (width >= 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: none;
  }

  .tab {
    display: block;
  }
}

/* Media Queries - Desktop */
@media (width >= 1080px) {
  .mobile {
    display: none;
  }

  .tab {
    display: none;
  }

  .desktop {
    display: block;
  }
}
