/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */

.related-ingredient {
  --border-clr: #706f73;
  --border-size: 2px;

	background: var(--theme-clr-background);
	margin: 0 1rem 1.5rem;
	border: var(--border-size) solid var(--border-clr);
  display: flex;
  flex-direction: column;
  min-height: 200px;

  h3 {
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.0156rem;
    font-weight: bolder;
    margin: 22px 0;
  }

  h4 {
    font-family: MiloPro-Bold, Helvetica, sans-serif;
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      font-size: 1rem;
      font-family: OpenSans-Regular, Helvetica, sans-serif;
      line-height: 1.5rem;
      letter-spacing: 0.0156rem;
      color: var(--text-color);
      margin: 16px 0;
    }
  }

  .content {
    flex: 1;
    padding: 2.5rem .968rem 0.5rem;

    .cta-links {
      margin-top: 20px;

      a {
        position: relative;
        text-decoration: underline;
        padding-left: 24px;
        font-family: MiloPro-Bold, Helvetica, sans-serif;
        letter-spacing: .032rem;
        transition: color 0.3s ease;
        font-size: 1rem;
        color: var(--green);
        cursor: pointer;

        &:hover { color: var(--dark-green) }

        &::before {
          font-family: ingredion-icon;
          text-decoration: none !important;
          position: absolute;
          left: 0;
          font-size: 1.2rem;
          -webkit-font-smoothing: antialiased;
        }
      }

      .view-all::before { content: '\e920' }

      .download-all {
        display: none;
      }

      .download-all::before { 
        content: '\e94b';
        font-size: .9375rem; 
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 21rem;
    margin: 0 1.5rem;
    gap: 2rem;

    .button {
      margin: 1rem 0;
      text-decoration: none;
    }
  }
}

@media (width >= 1080px) {
  .related-ingredient {
    flex-direction: row;
    margin: 0;

    .content {
      flex: 1;
      padding: 2.593rem 2.5rem 2.468rem 3.156rem;

      .cta-links {
          display: flex;
          gap: 2rem;

          .download-all {
            display: block;
          }
      }
    }

    .buttons {
      width: 21rem;
      border-left: var(--border-size) solid var(--border-clr);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 0;
    }
  }
}

.related-ingredient-container {
  background: rgb(239 239 239 / 40%);
  padding: 7.5rem 0;

  .default-content-wrapper {
    max-width: 50.1875rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    
    h2, p {
      text-align: center;
    }
  }

  .related-ingredient-wrapper {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}