/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */

.related-ingredient {
  --border-color: #706f73;

	background: var(--theme-clr-background);
	margin-bottom: 1.5rem;
	border: 2px solid var(--border-color);
  display: flex;
  gap: 2rem;
  min-height: 200px;

  h3 {
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.0156rem;
    font-weight: bolder;
    margin: 22px 0;
  }

  h4 {
    font-family: MiloPro-Bold, Helvetica, sans-serif;
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      font-size: 1rem;
      font-family: OpenSans-Regular, Helvetica, sans-serif;
      line-height: 1.5rem;
      letter-spacing: 0.0156rem;
      color: var(--text-color);
      margin: 16px 0;
    }
  }

  .content {
    flex: 1;
    padding: 2.6rem 2.5rem 2.5rem 3.2rem;

    .cta-links {
      margin-top: 20px;

      a {
        position: relative;
        text-decoration: underline;
        padding-left: 24px;
        margin: 40px 40px 0 0;
        font-family: MiloPro-Bold, Helvetica, sans-serif;
        letter-spacing: .032rem;
        transition: color 0.3s ease;
        font-size: 1rem;
        color: var(--green);
        cursor: pointer;

        &:hover { color: var(--dark-green) }

        &::before {
          font-family: ingredion-icon;
          text-decoration: none !important;
          position: absolute;
          left: 0;
          font-size: 1.2rem;
          -webkit-font-smoothing: antialiased;
        }
      }

      .view-all::before { content: '\e920' }

      .download-all::before { content: '\e94b' }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 21rem;
    border-left: 2px solid var(--border-color);
    padding: 2.6rem 0;

    .button {
      margin: 1rem 0;
    }
  }
}


