

dialog.related-ingredient-modal { max-width: 1200px !important }
  
.table-wrapper {
    max-width: 1024px;
    margin: 0 auto;

    .mobile-view & {
      max-width: 100%;
      padding: 0 20px;
    }

    h4 {
      margin: 40px 0 60px;
    }

    h3 { scroll-margin-top: 160px }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 5rem;
      display: table;
      text-indent: initial;
      unicode-bidi: isolate;
      border-spacing: 2px;
      border-color: gray;

      tr {
        border-bottom: 1px solid #d8d9d9;

        &:first-child { border-bottom: 3px solid #d8d9d9 }

        th, td {
          font-family: OpenSans, Helvetica, sans-serif;
          color: #373738;
          text-align: left;
          padding: 1rem 0;
          font-size: 1rem;

          .select-all {
            color: var(--green);
            text-transform: uppercase;
            cursor: pointer;
          }

          .doc {
            text-decoration: underline;

            &:hover { color: var(--dark-green) }
          }

          &:nth-child(1) {
            width: 100px;
            text-align: center;
          }

          &:nth-child(2) {
            width: auto;
            padding-left: 20px;
          }

          &:nth-child(3) {
            width: 300px;
            padding-left: 20px;
          }

          &:nth-child(4) {
            width: 130px;
            padding-left: 20px;
          }

          .mobile-view & {
            &:nth-child(1) {
              width: auto;
              text-align: left;
            }

            &:nth-child(2) {
              width: 100px;
              text-align: right;
            }
          }
        }
      }
    }

    .download-wrapper {
      text-align: right;
      padding: 0 0 40px;

      .button { min-width: 310px }
    }
  }

  input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    outline: none;
    appearance: none;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border: 1px solid #b2b2b2;
      border-radius: 2px;
    }

    &:checked::before { background: var(--green) }

    /* checkmark */
    &:checked::after {
      position: absolute;
      content: '';
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
      transform: rotate(45deg);
    }
  }