/* stylelint-disable font-family-no-missing-generic-family-keyword, no-descending-specificity */
.pagination {
  font-size: .8rem;
}

.pagination button {
  line-height: 2rem;
  padding: 0 12px;
  margin: 0 2px;
  color: var(--text-color);
  background: transparent;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.pagination button:hover {
  background: #eee;
}

.pagination button.active {
  color: #fff;
  background: var(--green);
  cursor: default;
}

.pagination button:disabled {
  color: #b2b4b3;
  background: #fff;
  cursor: default;
}

.pagination button.prev {
  margin-left: 0;
  padding-left: 0;
}

.pagination button.prev::before, .pagination button.next::after {
  display: inline-block;
  content: "\e904";
  font-family: ingredion-icon;
  -webkit-font-smoothing: antialiased;
}

.pagination button.prev::before {
  transform: rotate(180deg);
}
