.offset-icons-list-wrapper {
  margin: 0 15px;
}

.offset-icons-list-wrapper p {
  letter-spacing: 0.25px;
}

.offset-icons-list-wrapper .offset-icons-overview {
  text-align: center;
}

.offset-icons-list-wrapper .offset-icons-overview h2 {
  font-size: 2.5rem;
}

.offset-icons-list-wrapper .offset-icons-overview h2 +p {
  font-size: 22px;
}

.offset-icons-list-wrapper .offset-icons-list .offset-icons-card {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.offset-icons-list-wrapper .offset-icons-list .offset-icons-card .image-container img {
  width: 78px;
}

.offset-icons-list-wrapper .offset-icons-list .offset-icons-card .content-block {
  width: 90%;
  padding-left: 30px;
}

.offset-icons-list-wrapper .offset-icons-list .offset-icons-card .content-block h4 {
  font-size: 2rem;
  margin-top: 0;
}

@media (width >= 1080px) {
  .offset-icons-list-wrapper {  
    max-width: 63.3125rem;
    margin: auto;
  }
  
  .offset-icons-list-wrapper .offset-icons-overview {
    width: 50%;
    text-align: left;
  }

  .offset-icons-list-wrapper .offset-icons-overview  h2 {
    font-size: 2rem;
  }

  .offset-icons-list-wrapper .offset-icons-list {
    display: flex;
    flex-wrap: wrap;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card {
    width: 50%;
    flex-direction: column;
    margin-top: 0;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card .image-container img {
    width: 6rem;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card .content-block {
    width: 100%;
    padding-left: 0;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card .content-block h4 {
    font-size: 1.5rem;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card:nth-child(2n+1) {
    margin-top: 7.5rem;
  }

  .offset-icons-list-wrapper .offset-icons-list .offset-icons-card:last-child {
    margin-top: 0;
    margin-left: auto;
  }
}